# Feature Engineering

In [12]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import seaborn as sns

In [ ]:
#Importing Data
df = pd.read_csv(r"D:\Amaan_Behlim\01_Udemy_Course\05_Machine_Learning\09_ADABoost\Data\clean\Travel_clean.csv")
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.000000,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.000000,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.000000,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.000000,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,37.622265,Self Enquiry,1,8.0,Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

### Feature Extraction

In [14]:
# Droping CustomerID
df = df.drop('CustomerID',axis=1)

In [ ]:
#Creating new coloum for feature
df['TotalVisiting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(['NumberOfChildrenVisiting','NumberOfPersonVisiting'], axis=1, inplace=True)

In [19]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProdTaken               4888 non-null   int64
 1   Age                     4888 non-null   float64
 2   TypeofContact           4888 non-null   str
 3   CityTier                4888 non-null   int64
 4   DurationOfPitch         4888 non-null   float64
 5   Occupation              4888 non-null   str
 6   Gender                  4888 non-null   str
 7   NumberOfFollowups       4888 non-null   float64
 8   ProductPitched          4888 non-null   str
 9   PreferredPropertyStar   4888 non-null   float64
 10  MaritalStatus           4888 non-null   str
 11  NumberOfTrips           4888 non-null   float64
 12  Passport                4888 non-null   int64
 13  PitchSatisfactionScore  4888 non-null   int64
 14  OwnCar                  4888 non-null   int64
 15  Designation             4888 non-null   str
 16  MonthlyIncome           4888 non-null   float64
 17  TotalVisiting           4888 non-null   float64
dtypes: float64(7), int64(5), str(6)
memory usage: 687.5 KB

In [50]:
df.to_csv(r"D:\Amaan_Behlim\01_Udemy_Course\05_Machine_Learning\08_Random_Forest\Data\processed\Travel_processed.csv",index=False)

In [25]:
#Getting all categorical Features
categorical = [feature for feature in df.columns if df[feature].dtype =='str']
print(f'Categorical features: {len(categorical)}')
print(f'Names:\n{categorical}')
print('\n')

#Getting all numerical Features
numerical = [feature for feature in df.columns if df[feature].dtype !='str']
print(f'Numerical features: {len(numerical)}')
print(f'Names:\n{numerical}')
print("\n")

#Getting Discrete Features
descrete = [feature for feature in numerical if len(df[feature].unique())<=25]
print(f'Descrete features: {len(descrete)}')
print(f'Names:\n{descrete}')
print("\n")

#Getting Discrete Features
continous = [feature for feature in numerical if feature not in descrete]
print(f'Continous features: {len(continous)}')
print(f'Names:\n{continous}')

Categorical features: 6
Names:
['TypeofContact', 'Occupation', 'Gender', 'ProductPitched', 'MaritalStatus', 'Designation']


Numerical features: 12
Names:
['ProdTaken', 'Age', 'CityTier', 'DurationOfPitch', 'NumberOfFollowups', 'PreferredPropertyStar', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar', 'MonthlyIncome', 'TotalVisiting']


Descrete features: 9
Names:
['ProdTaken', 'CityTier', 'NumberOfFollowups', 'PreferredPropertyStar', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar', 'TotalVisiting']


Continous features: 3
Names:
['Age', 'DurationOfPitch', 'MonthlyIncome']